doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Batman vs. Superman Opnions
    meta(name='viewport', content='initial-scale=1.0, width=device-width, \
     height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css.map')
    link(rel='stylesheet', href='//blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css')

    script(src='//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/client.js')

  body
    div.container
        div.row
            div.col-md-8
                h1.page-header
                    | Batman vs. Superman

    div#score
    ul#tweets
        each tweet in tweets
            li(class=tweet.status)= tweet.user + ': ' + tweet.msg
